/vendor/
node_modules/
/public/build
/public/hot
/public/storage
/public/css/
/public/js/
/storage
/bootstrap/cache/
.env
.phpunit.result.cache
.phpunit.cache
.DS_Store
auth.json
/.idea
/.vscode
/.nova
/.fleet
/.zed

# Debug files
/er());
/er);
/er->toArray());
/notifications
/unreadNotifications
/, 
